.container {
    padding: 0;
    margin: 0;
    background-color: #f5ccf3;
    background-image:img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbRPZLWkDQenSWbIZX50FTwzN1NYkKxgGVNw&usqp=CAU";
}
  